/* styling for the register and login component */
.register,
.login {
  background: url("puhttps://media.istockphoto.com/id/813402032/photo/internation-business-concept.webp?b=1&s=612x612&w=0&k=20&c=WA6McF5LVGCsG5-6BAiA2M_jL3sRkx19fBX5D3bdTO8=") no-repeat center center/cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-item {
  text-align: center;
  height: 23rem;
  width: 20rem;
  padding: 2rem;
  background-color: lightsteelblue;
  border-radius: 5px;
}

.card-item div {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-bottom: 1rem;
}

label {
  display: flex;
}

h6 {
  margin-bottom: 2rem;
}

/* styling home component */

.hero-banner {
  background: url("/Users/s2300107/Desktop/BCH/React/countries-bootstrap-23k/public/hero.jpg") no-repeat center center/cover;
  height: 72.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-link {
  background-color: lightsteelblue;
  height: 3rem;
  width: 12rem;
  text-decoration: none;
  margin-left: 15rem;
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 5px;
}

.banner-link:hover {
  text-decoration: underline;
  background-color: lightslategray;
  color: white;
}


/* Card */
.component {
  transition: transform 0.3s ease-in-out; 
}

.component:hover {
  transform: scale(1.05);
}

.Col {
  background-color: lightslategrey; 
  padding: 0.5rem; 
  border: none;
  border-radius: 5px;
  margin: 0.5rem 1rem;
  transition: transform 0.3s ease-in-out;
}

.Col:hover {
  transform: scale(1.05);
}